.icon {
    transform: translateY(-2px);
}

.para {
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Wardana', sans-serif; */
    font-size: 22px;
}

.card {
    border-radius: 0;
    border: none;
}

.cardHeader {
    /* background-color: #2e3134 !important; */
    border-radius: 0 !important;
}

.row{
    width: 100%;
    display: flex;
}

.ul{
    /* flex-grow: 1; */
    margin: 10px 24px;
}

@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
    }

}