.icon {
    transform: translateY(-2px);
}

.para {
    font-family: 'Maven Pro', sans-serif;
    /* font-family: 'Wardana', sans-serif; */
    font-size: 22px;
}

.card {
    border-radius: 0;
    border: none;
}

.cardHeader {
    background-color: #414141 !important;
    color: #fff;
    border-radius: 0 !important;
}

.row {
    width: 100%;
    display: flex;
}

.ul {
    margin: 10px 24px;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

}