.para {
    font-family: 'Mukta', sans-serif;
    font-size: 22px;
}

.container{
    height: 340px;
}

@media screen and (max-width: 768px) {
    .container{
        height: 500px;
    }
}

@media screen and (max-width: 512px) {
    .container{
        height: 650px;
    }
}